<?xml version="1.0"?>
<configuration>
  <appSettings >
    <add key="SendEmail" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="vromonbd_userConnectionString1" connectionString="Data Source=localhost;Initial Catalog=vromonbd;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>